.madgrades-btn {
    margin-left: 8px;
    padding: 4px 8px;
    cursor: pointer;
}

#madgrades-popup {
    display: none; 
    position: fixed; 
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.6); 
}

#madgrades-popup > div {
    background-color: #fefefe;
    margin: 10% auto; /* 10% from the top and centered horizontally */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Adjust size as needed */
    max-width: 800px; /* Max size for large screens */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px; /* Slightly rounded corners */
}

#madgrades-plot {
    width: 100%;
    height: 400px;
}

#close-btn {
    float: right;
    margin-top: 10px;
    padding: 8px 15px;
    cursor: pointer;
    background-color: #C5050C;
    color: white;
    border: none;
    border-radius: 4px;
}

#close-btn:hover {
    background-color: #d32f2f;
}

.madgrades-btn {
    background-color: #C5050C; 
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px; /* Separate it from "See sections" */
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.madgrades-btn:hover {
    background-color: #a3040b;
}